.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #f4f4f4;
}
.side_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6.4rem;
  h2 {
    color: #2b2b2b;
    text-align: center;
    font-size: 39.7px;
    font-weight: 600;
    line-height: 53px;
    padding-top: 6.4rem;
    max-width: 358px;
  }
}
.side_left_text {
  display: flex;
  flex-direction: column;
  align-items: center;

  .side_left_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    img {
      display: inline-flex;
      padding: 14px 16px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 9px;
      background: #285e67;
      margin-bottom: 2rem;
    }
    > p {
      color: $color-text;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      max-width: 255px;
    }
  }
}
.side_right_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    display: none;
  }
}
.the_first_section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .the_first_section_img {
    margin-top: 36px;
    img {
      max-width: 360px;
      border-radius: 10px;
      height: 578px;
      flex-shrink: 0;
      fill: rgba(0, 0, 0, 0.29);
    }
  }
  .second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 36px;

    h2 {
      color: #2b2b2b;
      text-align: center;
      font-size: 39.7px;
      font-weight: 600;
      line-height: 49px;
      margin-bottom: 16px;
    }
    p {
      color: $color-text;
      text-align: center;
      font-size: $font-p;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .icons_img-container {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 26px;

    .icons_img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 23px;
      img {
        max-width: 100%;
      }
      p {
        color: #285e67;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 840px) {
  .container {
    max-width: 90%;
  }
  .main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background: #f4f4f4;
  }
  .side_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.4rem;
    h2 {
      color: #2b2b2b;
      text-align: center;
      font-size: 50.52px;
      font-weight: 600;
      line-height: 62px;
      max-width: 574px;
    }
  }
  .side_left_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 53px;
    margin-top: 6.9rem;
    margin-bottom: 6.4rem;

    .side_left_img {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
      img {
        display: inline-flex;
        padding: 14px 16px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 9px;
        background: #285e67;
        margin-bottom: 2rem;
      }
      p {
        color: $color-text;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        max-width: 255px;
      }
    }
  }
  .side_right_img {
    img {
      display: none;
    }
  }

  .the_first_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    margin-top: 8rem;
    margin-bottom: 8rem;

    .the_first_section_img {
      flex: 1.25;
      margin-top: 0;
      max-width: 100%;
      img {
        border-radius: 10px;
        max-width: 100%;
        height: 100%;
        flex-shrink: 0;
        fill: rgba(0, 0, 0, 0.29);
      }
    }
    .second_section {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 0;
      margin-bottom: 0;
      h2 {
        color: #2b2b2b;
        text-align: start;
        font-size: 50.52px;
        font-weight: 600;
        line-height: 62px;
        margin-bottom: 16px;
      }
      > p {
        color: $color-text;
        text-align: start;
        font-size: $font-p;
        font-weight: 400;
        line-height: 24px;
        max-width: 90%;
        margin-bottom: 26px;
      }
    }
    .icons_img-container {
      .icons_img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 23px;
        max-width: 90%;
        img {
          max-width: 100%;
        }
        p {
          text-align: start;
          color: #285e67;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          max-width: 90%;
        }
      }
    }
  }
}
@media screen and (min-width: 1360px) {
  .container {
    max-width: 1300px;
  }

  .main_section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-radius: 12px;
    background: #f4f4f4;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
  }
  .side_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    h2 {
      color: #2b2b2b;
      text-align: start;
      font-size: 50.52px;
      font-weight: 600;
      line-height: 62px;
    }
  }
  .side_left_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 53px;

    .side_left_img {
      display: flex;
      flex-direction: column;
      align-items: start;
      img {
        display: inline-flex;
        padding: 14px 16px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 9px;
        background: #285e67;
      }
      p {
        color: $color-text;
        text-align: start;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        max-width: 255px;
      }
    }
  }
  .side_right_img {
    img {
      display: block;
      max-width: 100%;
    }
  }

  .the_first_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // gap: 25px;
    // margin-top: 8rem;
    // margin-bottom: 8rem;

    .the_first_section_img {
      // margin-top: 36px;
      img {
        border-radius: 10px;
        // height: 100%;
        flex-shrink: 0;
        fill: rgba(0, 0, 0, 0.29);
      }
    }
  }

  .second_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    h2 {
      color: #2b2b2b;
      text-align: start;
      font-size: 50.52px;
      font-weight: 600;
      line-height: 62px;
      margin-bottom: 16px;
      max-width: 100%;
    }
    > p {
      color: $color-text;
      text-align: start;
      font-size: $font-p;
      font-weight: 400;
      line-height: 24px;
      max-width: 90%;
      // margin-bottom: 26px;
    }
  }
  .icons_img {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 23px;
    // margin-top: 30px;
    max-width: 90%;
    // margin-bottom: 26px;
    img {
      max-width: 100%;
    }
    p {
      text-align: start;
      color: #285e67;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      max-width: 90%;
    }
  }
}
